apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: jvm-build-suite-component-tzrr
  namespace: jvm-build-eito-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/psturc/test-images@sha256:e1e972b9f650051d6384ee59393fdb5c678f0b01fef8f728b5ed1deb5cbe0bbd
        name: container-image
        resources: {}
status: {}
